.footer {
  width: 100%;
  height: 150px;
  background: #100328;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 150px;
}

.socialMedia svg {
  color: white;
  margin: 10px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: white;
}

.privacy {
  font-size: 0.75rem;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  color: white;
}

.privacy span {
  display: block;
}

.privacy .copyright {
  color: white;
}

.privacy .privacyText {
  font-style: italic;
  color: white;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
}
