.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 50px;
  color: #4a4453;
  font-size: 35px;
}
.project img {
  width: 75%;
  max-width: 750px;
  height: auto;
  border-radius: 10px;
}

.project p {
  font-size: 30px;
  color: #4a4453;
}

.project svg {
  font-size: 60px;
  color: #4a4453;
}
