/* Color palette: 
    Primary: #231942 (RGB: 35, 25, 66)
    Secondary: #ffebf5 (RGB: 255, 235, 245)
    Primary Button: #5e548e (RGB: 94, 84, 142)
    Secondary Button: #efd9f2 (RGB: 239, 217, 242)
    Accent: #8d73b0 (RGB: 141, 115, 176)
    MORE: https://mycolor.space/?hex=%23231942&sub=1
*/ 

.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 50px;
  color: #4A4453;
  font-size: 35px;
}
.project img {
  width: 75%;
  max-width: 750px;
  height: auto;
  border-radius: 10px;
}

.project p {
  font-size: 30px;
  color: #4A4453;
}

.project svg {
  font-size: 60px;
  color: #4A4453;
}